config:
    github_token: ${GITHUB_TOKEN}
    github_repository: ${GITHUB_REPOSITORY}
    hetzner_token: ${HETZNER_TOKEN}
    ssh_key: "~/.ssh/id_rsa.pub"
    #additional_ssh_keys:
    # - additional_key
    # - ...
    max_runners: 10
    #max_runners_for_label:
    #  - labels: ["self-hosted"]
    #    max: 10
    #max_runners_in_workflow_run:
    recycle: true
    end_of_life: 50
    #label_prefix:
    with_label:
      - "self-hosted"
    #meta_label:
    #  name:
    #    - label
    #    - ...
    delete_random: false
    default_image: "x86:system:ubuntu-22.04"
    default_server_type: cx23
    #default_location: ash
    workers: 10
    #scripts:
    max_powered_off_time: 60
    max_unused_runner_time: 120
    max_runner_registration_time: 120
    max_server_ready_time: 120
    scale_up_interval: 60
    scale_down_interval: 60
    debug: false
    # cloud service deployment configuration
    cloud:
        server_name: "github-hetzner-runners"
        deploy:
            server_type: cx23
            image: "x86:system:ubuntu-22.04"
            #location:
            #setup_script:
    # standby runners groups configuration
    standby_runners:
        - labels:
            - self-hosted
            - type-cpx22
          count: 3
          replenish_immediately: true
    # logging module config
    logger_config:
        version: 1
        disable_existing_loggers: false
        formatters:
            stdout:
                class: testflows.github.hetzner.runners.logger.StdoutFormatter
                format: "%(asctime)s %(message)s"
                datefmt: "%H:%M:%S"
            rotating_file:
                class: testflows.github.hetzner.runners.logger.RotatingFileFormatter
                format: "%(asctime)s,%(interval)s,%(levelname)s,%(run_id)s,%(job_id)s,%(server_name)s,%(threadName)s,%(funcName)s,%(message)s"
                datefmt: "%Y-%m-%d,%H:%M:%S"
        handlers:
            stdout:
                level: INFO
                formatter: stdout
                class: testflows.github.hetzner.runners.logger.StdoutHandler
                stream: "ext://sys.stdout"
            rotating_logfile:
                level: DEBUG
                formatter: rotating_file
                class: testflows.github.hetzner.runners.logger.RotatingFileHandler
                filename: /tmp/github-hetzner-runners.log
                maxBytes: 10485760
                backupCount: 1
        loggers:
            testflows.github.hetzner.runners:
                level: INFO
                handlers:
                    - stdout
                    - rotating_logfile
    # logger format
    logger_format:
        delimiter: ","
        default:
            - column: date
            - column: time
            - column: interval
            - column: level
            - column: run_id
            - column: job_id
            - column: server_name
            - column: threadName
            - column: funcName
            - column: message
        columns:
            - column: date
              index: 0
              width: 10
            - column: time
              index: 1
              width: 8
            - column: interval
              index: 2
              width: 5
            - column: level
              index: 3
              width: 8
            - column: run_id
              index: 4
              width: 11
            - column: job_id
              index: 5
              width: 11
            - column: server_name
              index: 6
              width: 36
            - column: threadName
              index: 7
              width: 20
            - column: funcName
              index: 8
              width: 14
            - column: message
              index: 9
              width: 90
