config:
    github_token: ${GITHUB_TOKEN}
    github_repository: ${GITHUB_REPOSITORY}
    hetzner_token: ${HETZNER_TOKEN}
    ssh_key: "~/.ssh/id_rsa.pub"
    #additional_ssh_keys:
    max_runners: 10
    recycle: true
    end_of_life: 50
    delete_random: false
    default_image: "x86:system:ubuntu-22.04"
    default_server_type: cpx11
    #default_location:
    workers: 10
    #scripts:
    max_powered_off_time: 60
    max_unused_runner_time: 120
    max_runner_registration_time: 120
    max_server_ready_time: 120
    scale_up_interval: 15
    scale_down_interval: 15
    debug: false
    # cloud service deployment configuration
    cloud:
        server_name: "github-hetzner-runners"
        deploy:
            server_type: cpx11
            image: "x86:system:ubuntu-22.04"
            #location:
            #setup_script:
    # standby runners groups configuration
    standby_runners:
        - labels:
            - type-cpx21
          count: 3
          replenish_immediately: true
    # logging module config
    logger_config:
        version: 1
        disable_existing_loggers: false
        formatters:
            standard:
                format: "%(asctime)s %(levelname)s %(funcName)s %(message)s"
                datefmt: "%m/%d/%Y %I:%M:%S %p"
        handlers:
            stdout:
                level: INFO
                formatter: standard
                class: logging.StreamHandler
                stream: "ext://sys.stdout"
            rotating_service_logfile:
                level: DEBUG
                formatter: standard
                class: logging.handlers.RotatingFileHandler
                filename: /tmp/github-hetzner-runners.log
                maxBytes: 10485760
                backupCount: 1

        loggers:
            testflows.github.hetzner.runners:
                level: INFO
                handlers:
                    - stdout
                    - rotating_service_logfile
    # logger format
    logger_format:
        delimiter: " "
        default:
            - column: date
            - column: time
            - column: time_ampm
            - column: level
            - column: funcName
            - column: message
        columns:
            - column: date
              index: 0
              width: 10
            - column: time
              index: 1
              width: 8
            - column: time_ampm
              index: 2
              width: 2
            - column: level
              index: 3
              width: 8
            - column: funcName
              index: 4
              width: 15
            - column: message
              index: 5
              width: 80
